#test{		height: 300px;
			color: teal;
			width: 350px;
			background: white;
			margin: auto;
			margin-top:100px;
			font-family: comic sans ms;
			font-size: 4em;
			border-radius: 25%;
			border: 10px solid teal;
			padding-left: 100px;
			transition:.5s;
			opacity: 0.5;
	}
#test:hover{	
			border: 14px solid cyan;
   			color: cyan;
			background: teal;
	
	}
		body{			background:url("http://i.imgur.com/CfjkYxp.jpg"); 	
}
		h1{
			font-size: 3em;
			text-align: center;
			color: cyan;
			margin:0 auto;

		}
		h1:hover{
			background: cyan;
			color: teal;	
		}
		p{
			margin:0 auto;
			display: inline-block;	
			border: 2px solid lime;
		}
		p:hover{
			border: 6px solid teal;
	
		}
		#img{
			 		   		   
			cursor: pointer;
		    border-radius: 25%;
		    transition: .5s;
			display:inline-block;
			
			}
			img{
				height: 50px;
				width: 50px; 		
				opacity: 0.5;
				border-radius:25%;
			}

		button{
			background: rgb(255,201,14);
			height: 100px;
			width: 100px; 
		    color:teal;
		    font-size: 2em;
		    font-family: comic sans ms;
		    border: 6px solid teal;
		    cursor: pointer;
		    border-radius: 25%;
		    transition: .5s;
		    opacity: 0.5;
		    margin-left: 90px;
		}
		button:hover{
		    color:cyan;
		    border: 10px solid cyan;
			opacity:1;
		    }
		#author{
			color: white;
			font-size: 36px;
			text-align: center;

	}
	#author:hover{
			background-color: teal;
			color: cyan;
			border: 2px solid cyan;
				}
				#icn:hover{color: cyan;}
		a{color: white;text-decoration:none;}
		#img_bord:hover{border:6px solid deepskyblue;}
