#test{		height: 120px;
			color: teal;
			width: 250px;
			background: cyan;
			margin:0 auto;
			font-family: comic sans ms;
			font-size: 2em;
			border-radius: 25%;
			border: 10px solid teal;
			transition:.5s;
			text-align: center;
	}
#test:hover{	
			border: 7px solid cyan;
   			color: cyan;
			background: teal;
	}
		body{background-color:deepskyblue;}	
		h1{
			font-size: 2em;
			text-align: center;
			color: cyan;
			margin:0 auto;
		}
		h1:hover{
			background: cyan;
			color: teal;
			
		}
		p{
			margin:0 auto;
			display: inline-block;	
			border: 2px solid lime;
		}
		p:hover{
			border: 2px solid teal;
	
		}
		#img{
				 		   		   
			cursor: pointer;
		    border-radius: 25%;
		    transition: .5s;
			display:inline-block;
			
			}
			img{
				border-radius:25%;
				height: 25px;
				width: 25px; 	
			}

		button{
			text-align: center;
			background: rgb(255,201,14);
			height: 75px;
			width: 75px; 
			position:relative;
		    color:teal;
		    font-size: 2em;
		    font-family: comic sans ms;
		    border: 2px solid teal;
		    cursor: pointer;
		    border-radius: 25%;
		    transition: .5s;
			margin-left: 40px;
		}
		button:hover{
		    color:cyan;
		    border: 10px solid cyan;
		    }
		#author{
			color: white;
			font-size: 20px;
			text-align: center;

	}
	#author:hover{
			background-color: teal;
			color: cyan;
			border: 2px solid cyan;
				}	
						#icn:hover{color: cyan;}
		a{color: white;text-decoration:none;}
		#img_bord:hover{border:6px solid deepskyblue;}
