	#author{
			color: teal;
			font-size: 36px;
			text-align: center;

	}
	#author:hover{
		background-color: teal;
		color: cyan;
		border: 2px solid cyan;

	}
	body{
		background-color: rgb(255,201,14);
	}
	#visit:hover{
		background-color: teal;
		border: 2px solid cyan;
	}
	#visit{
			text-align: center;
			border-left: 2px inline cyan;
			color: white;
			margin-left:200px;
			margin-right: 200px;

	}
	#fb{
		height: :50px;
		width: 50px;
		transition: 1s;
		background-color: cyan;
	}
	#fb:hover{
		width: 100px;
	}
	#aboutme{
		height: :50px;
		width: 50px;
		transition: 1s;
		background-color: cyan;
	}
	#aboutme:hover{
		width: 100px;
	}
	#twitter{
		height: :50px;
		width: 50px;
		transition: 1s;
		background-color: cyan;
	}
	#twitter:hover{
		width: 100px;
	}
	#wordpress{
		height: :50px;
		width: 50px;
		transition: 1s;
		background-color: cyan;
	}
	#wordpress:hover{
		width: 100px;
	}
	#quiz{
		height: :50px;
		width: 50px;
		transition: 1s;
		background-color: cyan;
	}
	#quiz:hover{
		width: 100px;
	}
	#mail{
		height: :50px;
		width: 50px;
		transition: 1s;
		background-color: cyan;

	}
	#mail:hover{
		width: 100px;
	}
