body{
				background: url("file:///home/snoopy/Desktop/black-wood-backgrounds.jpg2");
				background: url("http://hdwallpapersfit.com/wp-content/uploads/2015/04/dark-backgrounds-hd.jpg");
					background-attachment:fixed;	
					}
			#Name{
					text-align: center;
					padding-right: 100px;
					color: teal;
					font-weight: bold;
					font-size: 45px;
					font-family: sans-serif;

					}
			.about{
					margin:auto;
					color:orange;
					font-size: 30px;
        			text-align: center;
        			padding: 0px 0px -150px 0px;
        			border-bottom:2px solid cyan;


					}
    		#img1{
    				float: left;
					margin: 0px;
    				animation:img 60s linear 0s infinite alternate;


    				}
    		@keyframes img{
					0%{border: teal;}
					25%{border-color:pink ; }
					50%{border-color:lime; }
					75%{border-color:cyan; ; }
					100%{ border-color: red; }
							}
				
			#sb{
					margin: 0px 50px 0px 0px;
					}
	
			.content{
					color:#4CB6D9;
					font-size: 25px;
					padding-left: 100px;
					margin: 0px 0px 500px 0px;
					padding-left: 100px;
					border-left: 2px solid cyan;




		
					}
			#c2{
					color: #4CB6D9;
					font-size: 25px;
					margin: 0px 0px 500px 0px;
    				}


			.menu {
   					 position: relative;
   					 display: inline-block;
						}

			.menu-content {
  					  display: none;
 				   	  position: absolute;
    				  background-color: #f9f9f9;
    				  min-width: 160px;
      				  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

							}

			.menu-content a {
  					  color: black;
  					  padding: 12px 16px;
   					 text-decoration: none;
   					 display: block;
							}

			.menu-content a:hover {background-color: #f1f1f1}
		
			.menu:hover .menu-content {
    					display: block;
										}

			.menu:hover .menubtn {
   					 background-color: #3e8e41;
								}
			.thanks{
					 text-align: center;
					}
			.img-circle{
				     border-radius: 50%;
						}